.navMenu {
	list-style: none;
	margin: 0;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
  }
  
  .navItem {
	display: flex;
	align-items: stretch;
  }
  
  .icon {
	  display: block;
	  height: 1rem;
	  width: auto;
	  filter: brightness(100) contrast(1);
	  
  }

  .navLink {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	padding: 1rem 0.75rem;
	transition: background-color 0.3s ease;
  
	&:hover .icon {
		filter: brightness(1) contrast(1);
	}
  }
  
