---
import Layout from '../layouts/Layout.astro';
import ButtonLink from '../components/ButtonLink/ButtonLink';

import { Image } from 'astro:assets';
import bannerImage from '../assets/brc-group.png'
---

<Layout>
	<section>

		<h1>Bedford Run Club</h1>
		<p>
			Welcome to the Bedford Run Club! We have runners of all levels, from
			beginners to experienced marathoners.
		</p>
		<div class="image-wrapper">
			<Image class="banner-image" src={bannerImage} alt="Runners on a trail"  />
		</div>
	</section>
	<section>

		<h2>Weekly Run</h2>
		<p>
			We meet every Tuesday at 6:00 PM at the Garrison Brewery and run a 7.2km
			loop through Point Pleasant Park (with a 5k option). After the run, we 
			hang out at Garrison for drinks and socializing.
		</p>
		<ButtonLink href='/routes'>Our weekly run route</ButtonLink>
	</section>
	<br />
	<section>

		<h2>Events</h2>
		<p>
			In addition to our weekly runs, we also host special events in partnership 
			with local businesses and organizations. Check out our events page to see 
			what's coming up!
		</p>
		<ButtonLink href='/events'>Upcoming events</ButtonLink>
	</section>
	<br />
</Layout>

<style>
	.image-wrapper {
		margin: auto;
		max-width: 1400px;
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	.banner-image {
		width: 100%;
		height: auto;
		margin-bottom: 1rem;
		border-radius: 0.5rem;

		@media screen and (max-width: 600px) {
			width: calc(100% + 200px);
		}
	}
</style>
