---
import Layout from '../layouts/Layout.astro';
import StravaRoute from '../components/StravaRoute/StravaRoute';


---

<Layout title="Bedford Run Club">
	<h1>Route</h1>
	<p>
		We meet every Tuesday at 6:00 PM at the Garrison Brewery. We run a 7.2km and loop through Point Pleasant Park. After the run, we head to the brewery for a drink and socialize.
	</p>
	<p>
		We all go at our own pace, so don't worry about being too slow or too fast. Paces typically range from 4:30/km to 6:30/km. Find a group that matches your pace and enjoy the run!
	</p>
	<StravaRoute />
</Layout>
<script is:inline src="https://strava-embeds.com/embed.js"></script>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>
