.logo {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -1px;

}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: stretch;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-top: 3px solid var(--accent-color);
  --text-color: white;
}

.line {
  display: block;
  height: 2px;
  width: 1rem;
  background-color: var(--text-color);
}

.menus {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  display: flex;
  align-items: stretch;
}

.navLink, .title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  transition: background-color 0.3s ease;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover, &[aria-current='page'] {
	  background-color: #aaa2;
    color: var(--accent-color)
  }

  &:focus {
    outline: 2px solid var(--text-color);
    outline-offset: -2px;
    color: var(--accent-color);
  }
}

.navLink {
  font-size: 0.8rem;
}

.title {
  line-height: 1.25;
  letter-spacing: 1.1px;
}

.navToggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 1rem;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1rem;
  width: 1rem;
}

@media screen and (max-width: 750px) {
  .menus {
    justify-content: flex-end;
  }
  .navMenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.2);

    --text-color: var(--primary-color);

    &[data-is-open='false'] {
      display: none;
    }
  }

  .navLink {
    flex-grow: 1;
    padding: 1.25rem;
    color: var(--text-color) !important;
  }
  
  .navToggle {
    display: block;
    margin-left: -1rem;
    flex-grow: 0;
  }
}

.invisible {
  position: absolute;
  transform: scale(0.1);
  font-size: 6px;
}