.buttonLink {
	  background-color: var(--primary-color);
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;


  &:hover {
	background-color: var(--accent-color);
	color: var(--primary-color);
  }

  &:focus {
	outline: 2px solid var(--primary-color);
	outline-offset: 1px;
  }


  &::after {
	content: ' »';
  }
}