---
import Image from "astro/components/Image.astro"
import stravaLogo from "../../assets/strava-logo.svg"
import instagramLogo from "../../assets/instagram-logo.svg"
---

<footer>
	<p>Bedford Run Club. Halifax, Nova Scotia</p>
	<ul class="list">
		<li>
			<a href="https://www.strava.com/clubs/935968" target="_blank" rel="noopener noreferrer">
				<Image class="icon" src={stravaLogo} alt="Strava" />
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/bedfordrunclub" target="_blank" rel="noopener noreferrer">
				<Image class="icon" src={instagramLogo} alt="Instagram" />
			</a>
		</li>
	</ul>
</footer>

<style>
	footer {
		display: grid;
		place-items: center;
		background-color: #f8f8f8;
		padding: 1.5rem 1rem;
		font-size: 0.8rem;
	}

	.list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: start;
		gap: 0.5rem;

		a {
			display: block;
		}
	}

	.icon {
		display: block;
		height: 1.25rem;
		width: auto;
		filter: grayscale(100%) brightness(0) opacity(0.5);
		
	}
</style>